<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% include 'header.html.twig' %}
        
        {% block content %}

            <div class="side_menu>
                {% block side_menu %}{% endblock %}
            </div>

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
